Jump to...

**Is your feature request related to a problem? Please describe.**
Long pages take ages to scroll. Also, you could use this to create toc's.

**Describe the solution you'd like**
The URI scheme ([RFC 3986 section 3.5](https://datatracker.ietf.org/doc/html/rfc3986#section-3.5))defines what it calls fragments (use a \# in the URI to reference a chapter of it). It would be nice if this could be implemented somehow.
